@import 'tailwindcss';
@plugin '@tailwindcss/forms';
/* @custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *)); */

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/mona';